@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(167, 162, 161);
    width: 250px;
    font-family: 'Times New Roman', Times, serif;
    height: 120vh;
}
.sidebar nav{
    padding: 52px;
    
}

.sidebar nav li{
    list-style-type:none;
    font-size: larger;
    padding-left: 0;
    padding: 10px ;
    padding-bottom: 50px;
  
}
.sidebar nav li a{
    color: black;
    text-decoration: none;
}

.main{
    /* background-color: burlywood; */
}
.container{
    display : flex ;
}
.infocontainer{
    /* background-color: bisque; */
    height: 55vh;
    width: 60vw;
    margin: 130px;
    display: flex;
    justify-content: space-around;
}
.devinfo {display: flex;
justify-content: center;
flex-direction: column;
}

.hello{
    font-size: 50px;
}

.name{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about{
    font-size: 30px;
}
.moreabout{
    font-size: 20px;
    margin-top: 15px;
}

.btn{
padding: 9px 10px;
border-radius: 22px;
color: white;
background-color: rgb(23, 90, 90);
font-weight: bold;
font-size: 15px;
margin: 21px 5px;
cursor: pointer;
} 
.btn-sm{
    margin: 2px 5px;
    padding: 5px 5px;
}


.btn:hover{
    background-color: white;
    color: rgb(6, 40, 29);
}


.devpic img{ width: 282px
    padding-left: 70px;
height: 55vh;}


.Contactform{
    padding: 0 90px;
    padding-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Contactform h1{
    padding-left: 150px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

.Contactform form div{
padding: 20px 0;
display: flex;
flex-direction: column;
}
.Contactform form div input{
    width: 25vw;
    border-radius: 5px;
    margin: 10px 0 0 0;
    padding: 3px;
    }
#emailHelp{
    font-size: 12px;
    color: rgb(27, 3, 3);
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check{
    flex-direction: row;
}
#form-check input{
width: 24px;
margin: 3px 0;
}

.Eduitem{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

.Educontainer h1{
    margin: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(19, 18, 18);
}
.Educontainer h2{
    color: rgb(10, 9, 29);
}
.Educontainer p1{
color:rgb(24, 11, 24);   
font-weight: bold;
}

.sidebarGo{
    transform: translate(-443px , 0px);
    position: absolute;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.cross{
    margin: left 155px; ;
}
@media (max-width: 1215px){

    .sidebar{
        transform: translate(-443px , 0px);
        position: absolute;
    }
}






